# This file is maintained by cloud-init-ansiblepull
export LESS="-SRi"
export PAGER=less
export EDITOR=vim
export HISTCONTROL=ignoredups:ignorespace
export HISTTIMEFORMAT="%d.%m.%y %T "
export HISTSIZE=8000
